@import '../theme/theme.scss';

.main-header {
  .Navbar {
    background: $primary-color;
    color: $text-auto; /* navbar-brand */
    .nav-link {
      /* nav-link */
      color: $text-auto;
      &.active {
        background-color: $bg-auto; /* active nav-link */
      }
      &.HomeLink {
        width: 100%;
        color: $text-auto;
        height: 100%;
      }
    }
    .DropdownMenu {
      background: $primary-color;
      & .dropdown-item:hover {
        background: darken($sub-color, 30%);
        & .nav-link {
          color: $primary-color;
        }
      }
    }
  }
}
